<h2>
    Details
</h2>

<form id="project-form">

    <% var ke = context; %>
    <% ;ke = Object.keys(context); %> 
    <% for (var k in ke){ %>
    <% if(ke[k]=="ID"){ %>
        <% if(context[ke[k]]!==""){ %>
            <input type="hidden" id="bezeichnung" name="ID" value = <% context[ke[k]]%>> 
        <%}%>
        <% if(context[ke[k]]===""){ %>
            <input type="hidden" id="bezeichnung" name="ID" value = "0"> 
        <%}%>

    <% continue;}%>
    <label> <%ke[k]%></label>
    <input type="text" id="bezeichnung" name="<%ke[k]%>" value='<% context[ke[k]] %>'>
    <% } %>

    
    <div id="buttonSection">
        <button id="submit" data-action="save">Speichern</button>
        <button id="back" data-action="backToList">Zurück</button>
    </div>

 </form>
 <!-- EOF -->
