<h2>
    Mitarbeiter
</h2>

<div class="filter-container">
    <h4>Filterung der Mitarbeiter nach der Benutzerrolle</h4>
    <select  id="userRoleFilter">
        <option value="all" selected>alle Benutzer anzeigen</option>
        <option value="qsuser">QS-Mitarbeiter</option>
        <option value="developer">SW-Entwickler</option>
    </select>
</div>

<table id="userTable">
    <tr>
        <th>Login</th>
        <th>Benutzername</th>
        <th>Benutzerrole</th>
    </tr>
    <% for(var key in context) { %>
        <% var entry = context[key]; %>
        <tr id="<% key %>" data-role="<% entry['role'] %>">
            <td>
                <% entry['login'] %>
            </td>
            <td>
                <% entry['username'] %>
            </td>
            <td>
                <% if (entry['role'] === "qsuser") {%>
                    QS Mitarbeiter
                <% } %>
                <% if (entry['role'] === "developer") {%>
                    SW Entwickler
                <% } %>
            </td>
       </tr>
    <% } %>
 </table>

 <footer>
    <p>
       <button id="new" data-action="new">Anlegen</button>
       <button id="detail" data-action="detail">Anzeigen</button>
       <button id="delete" data-action="delete">Löschen</button>
    </p>
 </footer>