<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image.jpg" type="image/jpeg">
    <link rel="stylesheet" type="text/css" href="einsatzplanstyle.css">
    <title>Anmeldeformular</title>
</head>
<body>
    <form action ="#" method="post" target="_self">
        <table id ="einsatz">
            <tr>
                <th></th>
                <th>8-9</th>
                <th>9-10</th>
                <th>10-11</th>
                <th>11-12</th>
                <th>12-13</th>
                <th>13-14</th>
                <th>14-15</th>
                <th>15-16</th>
                <th>16-17</th>
                <th>17-18</th>
                <th>18-19</th>
                <th>19-20</th>
            </tr>
        </table>
        <%context["extra"]%>
    </form>
    
    <button data-action="main">Zurück</button>
</body>
</html>
