<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image.jpg" type="image/jpeg">
    <link rel="stylesheet" type="text/css" href="krankmeldungstyle.css">
    <title>Anmeldeformular</title>
</head>
<body>
    <img src="mainimage.jpg" class="logo" alt="Foto nicht gefunden" title="Logo des Internats" width="125" height="125" />
    <form action ="#" method="post" target="_self">
        <hr>
        <label>Grund: </label>
        <input name="Grund" type="text"><br>
        <label>Von: </label>
        <input name="Von" type="date"> <br>
        <label>Bis: </label>
        <input name="Bis" type="date"> <br>

        <input type ="submit" value="senden">
        <input type ="back" value="Zurück">
    </form>

</body>
</html>