<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image.jpg" type="image/jpeg">
    <link rel="stylesheet" type="text/css" href="loginstyle.css">
    <title>Anmeldeformular</title>
</head>
<body>
    <img src="mainimage.jpg" class="logo" alt="Foto nicht gefunden" title="Logo des Internats" width="125" height="125" />
    <form action ="#" method="post" target="_self">

    <hr>
    <label>Benutzername:</label>
    <input type="email">
    <label>Passwort:</label>
    <input type="password">
                
    <input type="submit" value="Login">
    <input type="cancel" value="Abbrechen">
            
    </form>
    
</body>
</html>
