<h2>
    Details
</h2>

<form id="user-form">
    <input type="hidden" name="id" value="<% context['id'] %>"/>
    <label for="login">Login</label>
    <input type="text" id="login" name="login" value="<% context['login'] %>" />
    
    <label for="username">Benutzername</label>
    <input type="text" id="username" name="username" value="<% context['username'] %>" />

    <label for="password">Passwort</label>
    <input type="text" id="password" name="password" value="<% context['password'] %>" />

    <label for="role">Benutzerrole</label>
    <select id="role" name="role" >
        <option selected disabled hidden>Bitte wählen Sie eine Role aus</option>
        <% if (context['role'] === "qsuser") { %>
            <option value="qsuser" selected> QS Mitarbeiter</option>
        <% } else { %>
            <option value="qsuser" > QS Mitarbeiter</option>
        <% } %>>
        
        <% if (context['role'] == "developer") { %>
            <option value="developer" selected> SW Entwickler </option>
        <% } else { %>
            <option value="developer"> SW Entwickler </option>
        <% } %>>
    </select>
    
    <div id="buttonSection">
        <button id="submit" data-action="save">Speichern</button>
        <button id="back" data-action="backToList">Zurück</button>
    </div>

 </form>
 <!-- EOF -->